/*  barra de navegación header  */
.navbar {
  display: flex;
  gap: 90px;

  &__menu {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }

  &__link:hover {
    color: $color-brand;
  }

  &__link:focus {
    color: $color-brand;
  }

  &__link--current {
    color: $color-brand;
  }

  &__link--current::after {
    content: '';
    width: 60px;
    height: 3px;
    position: absolute;
    margin: 43px 20px 50px -55px;
    background-color: $color-brand;
  }
}
